doctype html
html
    head
        meta(charset="utf-8")
        title Running Mario
        link(rel="stylesheet", href="stylesheets/running-mario.css")

    body
        button(tabindex="1", data-speed="0", autofocus) 0
        button(tabindex="2", data-speed="1000") 1000
        button(tabindex="3", data-speed="750") 750
        button(tabindex="4", data-speed="500") 500
        button(tabindex="5", data-speed="250") 250
        .mario
