@import "configuration"
@import "utils"


*
*:before
*:after
    margin 0
    padding 0
    box-sizing border-box


html
body
    height 100%


body
    display flex
    align-items center
    justify-content center


button
    opacity 0

    &[data-speed="0"]:focus ~ .mario
        animation none

    &[data-speed="1000"]:focus ~ .mario
        animation-duration 1000ms

    &[data-speed="750"]:focus ~ .mario
        animation-duration 750ms

    &[data-speed="500"]:focus ~ .mario
        animation-duration 500ms

    &[data-speed="250"]:focus ~ .mario
        animation-duration 250ms


mario-frame-one = pixelrow(0, -3..2, color-red),
    pixelrow(-1, -2..4, color-peach),
    pixelrow(-2, -4 -3, color-brown),
    pixelrow(-2, -2..1, color-peach),
    pixelrow(-2, 2..5, color-black),
    pixelrow(-3, -4 -2 -1, color-brown),
    pixelrow(-3, -3 0 1 2 4 5 6, color-peach),
    pixelrow(-3, 3, color-black),
    pixelrow(-4, -4 -2, color-brown),
    pixelrow(-4, -3 -1 0 1 3 4 5, color-peach),
    pixelrow(-4, 2, color-black),
    pixelrow(-5, -3..-1, color-brown),
    pixelrow(-5, 0 1 3, color-peach),
    pixelrow(-5, 2, color-black),
    pixelrow(-6, -3..5, color-red),
    pixelrow(-7, -2..2, color-red),
    pixelrow(1, -4 -3 -2 -1 2 3, color-red),
    pixelrow(1, 0 1, color-blue),
    pixelrow(2, -4..-2, color-red),
    pixelrow(2, -1 0 2 3, color-blue),
    pixelrow(2, 1, color-yellow),
    pixelrow(3, -4..-1, color-red),
    pixelrow(3, 0..3, color-blue),
    pixelrow(4, -4..-2, color-red),
    pixelrow(4, -1 0, color-peach),
    pixelrow(4, 1..3, color-blue),
    pixelrow(5, -3 1 2, color-blue),
    pixelrow(5, -2, color-red),
    pixelrow(5, -1 0, color-peach),
    pixelrow(6, -2..0, color-blue),
    pixelrow(6, 1..3, color-brown),
    pixelrow(7, -2..1, color-brown)

mario-frame-two = pixelrow(0, -2 -1 1 3, color-red),
    pixelrow(0, 2, color-blue),
    pixelrow(0, 4 5, color-peach),
    pixelrow(-1, -1 0 3, color-red),
    pixelrow(-1, 1 2, color-blue),
    pixelrow(-2, -2..4, color-peach),
    pixelrow(-3, -4 -3, color-brown),
    pixelrow(-3, -2..1, color-peach),
    pixelrow(-3, 2..5, color-black),
    pixelrow(-4, -4 -2 -1, color-brown),
    pixelrow(-4, -3 0 1 2 4 5 6, color-peach),
    pixelrow(-4, 3, color-black),
    pixelrow(-5, -4 -2, color-brown),
    pixelrow(-5, -3 -1 0 1 3 4 5, color-peach),
    pixelrow(-5, 2, color-black),
    pixelrow(-6, -3..-1, color-brown),
    pixelrow(-6, 0 1 3, color-peach),
    pixelrow(-6, 2, color-black),
    pixelrow(-7, -3..5, color-red),
    pixelrow(-8, -2..2, color-red),
    pixelrow(1, -4 -3 4 5 6, color-peach),
    pixelrow(1, -2..3, color-red),
    pixelrow(2, -5 -4 -3 4 5, color-peach),
    pixelrow(2, -2, color-blue),
    pixelrow(2, -1..3, color-red),
    pixelrow(3, -4 -3, color-brown),
    pixelrow(3, -2..4, color-blue),
    pixelrow(4, -4, color-brown),
    pixelrow(4, -3..4, color-blue),
    pixelrow(5, -5 -4, color-brown),
    pixelrow(5, -3 -2 1 2 3, color-blue),
    pixelrow(6, -5 0 1 2, color-brown),
    pixelrow(7, 1..3, color-brown)

mario-frame-three = pixelrow(0, -7 -6 6 7 8, color-peach),
    pixelrow(0, -5 -4 -3 -2 1 2 3 5, color-red),
    pixelrow(0, -1 0 4, color-blue),
    pixelrow(-1, -5 -4 -3 -2 0 1 2, color-red),
    pixelrow(-1, -1 3, color-blue),
    pixelrow(-2, -2..4, color-peach),
    pixelrow(-3, -4 -3, color-brown),
    pixelrow(-3, -2..1, color-peach),
    pixelrow(-3, 2..5, color-black),
    pixelrow(-4, -4 -2 -1, color-brown),
    pixelrow(-4, -3 0 1 2 4 5 6, color-peach),
    pixelrow(-4, 3, color-black),
    pixelrow(-5, -4 -2, color-brown),
    pixelrow(-5, -3 -1 0 1 3 4 5, color-peach),
    pixelrow(-5, 2, color-black),
    pixelrow(-6, -3..-1, color-brown),
    pixelrow(-6, 0 1 3, color-peach),
    pixelrow(-6, 2, color-black),
    pixelrow(-7, -3..5, color-red),
    pixelrow(-8, -2..2, color-red),
    pixelrow(1, -7 -6 -5 7 8, color-peach),
    pixelrow(1, -3 -2 5 6, color-red),
    pixelrow(1, -1..4, color-blue),
    pixelrow(2, -7 -6, color-peach),
    pixelrow(2, -3 -2 -1 1 2 3, color-blue),
    pixelrow(2, 0 4, color-yellow),
    pixelrow(2, 7, color-brown),
    pixelrow(3, -4..5, color-blue),
    pixelrow(3, 6 7, color-brown),
    pixelrow(4, -5..5, color-blue),
    pixelrow(4, 6 7,color-brown),
    pixelrow(5, -6 -5 6 7, color-brown),
    pixelrow(5, -4 -3 -2 3 4 5, color-blue),
    pixelrow(6, -6..-4, color-brown),
    pixelrow(7, -5..-3, color-brown)


.mario
    width pixel-size
    height pixel-size
    background-color color-blue
    box-shadow mario-frame-one
    animation running-mario 1000ms steps(1) infinite
    margin-left: 0


@keyframes running-mario
    0%
        background-color color-blue
        box-shadow mario-frame-one

    25%
        background-color color-red
        box-shadow mario-frame-two

    50%
        background-color color-blue
        box-shadow mario-frame-one

    75%
        background-color color-blue
        box-shadow mario-frame-three

    100%
        background-color color-blue
        box-shadow mario-frame-one
